
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>PMPML | RTI</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/faq.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="justify-content: center; align-items: center; background: linear-gradient(#4B6587, rgba(255, 255, 255, 0.5)); backdrop-filter: blur(8px);">
    <section class="faq-section">
        <div class="container">
          <div class="row">
                            <!-- ***** FAQ Start ***** -->
                            <div class="col-md-6 offset-md-3">
        
                                <div class="faq-title text-center pb-3">
                                    <h2>FAQ</h2>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-3">
                                <div class="faq" id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="faqHeading-1">
                                            <div class="mb-0">
                                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                    <span class="badge">1</span>From where we can get information related to bus routes and schedules?
                                                </h5>
                                            </div>
                                        </div>
                                        <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                            <div class="card-body">
                                                <p><p><strong> Passengers can get detailed information regarding bus routes and schedules using the below links: </strong></p><br/>
                                                <p><strong> • <u> Please visit our website to get route details of each service type : </u></strong></p><br/>
                                                <p><strong>1) Regular Route Details: please visit</strong>: <a href="https://www.pmpml.org/en/services/regular-buses/"> www.pmpml.org/en/services/regular-buses</a></p><br/>
                                                <p><strong>2) Rainbow Route Details: please visit</strong>: <a href="https://www.pmpml.org/en/services/rainbow-buses/"> www.pmpml.org/en/services/rainbow-buses</a></p><br/>
                                                <p><strong>3) Night Route Details: please visit</strong>: <a href="https://www.pmpml.org/en/services/night-buses/"> www.pmpml.org/en/services/night-buses</a></p><br/>
                                                <p><strong>4) Ladies Special Route Details: please visit</strong>: <a href="https://www.pmpml.org/en/services/ladies-special/"> www.pmpml.org/en/services/ladies-special</a></p><br/>
                                                <p><strong>5) Airport Route Details: please visit</strong>: <a href="https://www.pmpml.org/en/services/airport-buses/"> www.pmpml.org/en/services/airport-buses</a></p><br/>
                                                <p><strong>6) PunyDasham Route Details: please visit</strong>: <a href="/media/5681/punydasham.pdf"> www.pmpml.org/en/services/punydasham-buses</a></p><br/>
                                                <p><strong> • <u> Please download our android application to get route details:</u></strong></p><br/>
                                                <p><strong>1) Android</strong>: <a href="https://play.google.com/store/apps/details?id=com.pmp.econnect"> https://play.google.com/store/apps/details?id=com.pmp.econnect </a></p><br/>
                                                <p><strong> • <u> Please use our helpline number to get route details:</u></strong></p><br/>
                                                <p>Call: 020 – 24545454, Time: 6.00 AM To 10.00 PM, SMS / WhatsApp : 9881495589</p><br/></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="faqHeading-2">
                                            <div class="mb-0">
                                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                                    <span class="badge">2</span>  For whom are seats reserved in PMPML buses?
                                                </h5>
                                            </div>
                                        </div>
                                        <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                            <div class="card-body">
                                                <p style="line-height: 1.5; font-size: 14px;">There are seats reserved for women, the elderly, the visually impaired and the physically disabled.</p><br/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="faqHeading-3">
                                            <div class="mb-0">
                                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                                    <span class="badge">3</span> Does PMPML provide any tour of the city?
                                                </h5>
                                            </div>
                                        </div>
                                        <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                            <div class="card-body">
                                                <p style="line-height: 1.5; font-size: 14px;">Yes, we provide 'Pune Darshan' and 'Pimpri Chinchwad Darshan' city darshan services.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="faqHeading-4">
                                            <div class="mb-0">
                                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                                    <span class="badge">4</span>  Where should we complain if the bus driver is irresponsible while driving?
                                                </h5>
                                            </div>
                                        </div>
                                        <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                            <div class="card-body">
                                                <p style="line-height: 1.6;"><strong><u>: PMPML HELPLINE </u></strong></p><br/>
                                                <p><strong><u>Call</u></strong> : 020 – 24545454</p><br/>
                                                <p><strong><u>Time</u></strong> : 6.00 AM To 10.00 PM</p><br/>
                                                <p><strong><u>SMS / WhatsApp</u></strong> : 9881495589</p><br/>
                                                <p><strong><u>E-Mail</u></strong> : complaints@pmpml.org</p><br/>
                                                <p><strong><u>Website</u></strong> : www.pmpml.org</p><br/>
                                                <p style="line-height: 1.6;"><strong><u>Citizen Complaint Panel</u></strong> : http://complaints.pmpml.org/login</p><br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </section>
</body>
</html>