
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>PMPML | RTI</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
   {% include 'navigation.html' %}
    <section id="Rti" style="justify-content: center; align-items: center; background: linear-gradient(#4B6587 , rgba(255, 255, 255, 0.5)); backdrop-filter: blur(8px); background-repeat: no-repeat;">
        <div class="container" style="margin-top: 60px">
            <div role="tabpanel" class="tab-pane active" id="tab-2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="" style="font-weight: bold; font-family: sans-serif; color: black; font-size: 30px;">Right To Information (RTI)</h1>
                    <div class="divider"><span></span></div>
                </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 18px; font-family: sans-serif; color: #000;">
        <ul class="padding-ulClass" style="list-style-type: decimal; float: none;"><br/>
        <ul class="padding-ulClass" style="list-style-type: decimal; float: none;"><br/>
        <li style="float: none; margin-left: 30px;">ACT<br/>
        <ul class="padding-ulClass" style="list-style-type: square;"><br/>
        <li style="float: none; margin-left: 40px;">RTI ACT- 2005 <a href="https://www.pmpml.org/media/1103/1rti-act.pdf">RTI Order-2005</a></li><br/>
        </ul>
        </li>
        <li style="float: none; margin-left: 30px;">Proactive Disclosure<br/>
        <ul style="list-style-type: square;"><br/>
        <li style="float: none; margin-left: 40px;">Information under Right to Information Act 2005 point 4(1) for the public information, RTI manual</li><br/>
        <li style="float: none; margin-left: 40px;">The particulars of its organization, function and duties.</li><br/>
        <li style="float: none; margin-left: 40px;">The powers and duties of its officers and employees.</li><br/>
        <li style="float: none; margin-left: 40px;">The procedure followed in the decision-making process, including channels of supervision and accountability.</li><br/>
        <li style="float: none; margin-left: 40px;">The norms set by it for the discharge of its function.</li><br/>
        <li style="float: none; margin-left: 40px;">The rules, regulations, instructions, manuals and records, held by it or under its control or used by its employees for discharging its functions.</li><br/>
        <li style="float: none; margin-left: 40px;">A statement of the categories of documents that are held by it or under its control.</li><br/>
        <li style="float: none; margin-left: 40px;">The particulars of any arrangement that exists of consultation with, or representation by the members of the public in relation to the formulation of its policy or administration thereof.</li><br/>
        <li style="float: none; margin-left: 40px;">A statement of the boards, councils, committees and other bodies consisting of two or more persons constituted as its part or for the purpose of its advice, and as to whether meetings of those boards, councils, committees and other bodies are open to the public, or the minutes of such meetings are accessible for public.</li><br/>
        <li style="float: none; margin-left: 40px;">A directory of its officers and employee.</li><br/>
        <li style="float: none; margin-left: 40px;">The monthly remuneration (min - max Basic) received by each of its officers and employees.</li><br/>
        <li style="float: none; margin-left: 40px;">The budget allocated to each of its agency, indicating the particulars of all plans proposed expenditures and reports on disbursements made.</li><br/>
        <li style="float: none; margin-left: 40px;">The manner of execution of subsidy programes, including the amounts allocated and the details of beneficiaries of such programes.</li><br/>
        <li style="float: none; margin-left: 40px;">Particulars of recipients of concessions, permits or authorizations granted by it.</li><br/>
        <li style="float: none; margin-left: 40px;">Details in respect of the information available or held by it, reduced in an electronic form.</li><br/>
        <li style="float: none; margin-left: 40px;">The particulars of facilities available to citizen for obtaining information including the working hours of a library or reading room, if maintain for public use.</li><br/>
        <li style="float: none; margin-left: 40px;">The names designations and other particulars of the public information officers.</li><br/>
        <li style="float: none; margin-left: 40px;">Other information as may by prescribed</li><br/>
        </ul><br/>
        </li><br/>
        <li style="float: none; margin-left: 30px; list-style-type: decimal;">Public information Officer</li><br/>
        </ul><br/>
        </ul><br/>
        <ul class="padding-ulClass" style="float: none; margin-left: -13px;"><br/>
        <li style="float: none; margin-left: 26px;">4. Application Form<br/>
        <ul style="list-style-type: square;"><br/>
        <li style="float: none; margin-left: 40px;">Application Form for RTI <a href="https://www.pmpml.org/media/1100/application-of-rti.pdf">RTI Order-Application-Form</a></li><br/>
        <li style="float: none; margin-left: 40px;">First Appeal <a href="https://www.pmpml.org/media/1101/first-appeal.pdf">RTI Order-First-Appeal</a></li><br/>
        <li style="float: none; margin-left: 40px;">Second Appeal <a href="https://www.pmpml.org/media/1099/second-appeal.pdf">RTI Order-second-Appeal</a></li><br/>
        </ul><br/>
        </li><br/>
        </ul><br/>
        <ul class="padding-ulClass"><br/>
        <li style="float: none; margin-left: 14px;">5. Pune Mahanagar Parivahan Mahamandal Ltd. Information Chart<br/>
        <ul class="padding-ulClass" style="list-style-type: square;"><br/>
        <li style="float: none; margin-left: 40px;">Name of Public Corporation: <span>Pune Mahanagar Parivahan Mahamandal Ltd. </span></li><br/>
        <li style="float: none; margin-left: 40px;">Name of Department: <span>Admin Officer</span></li><br/>
        <li style="float: none; margin-left: 40px;">Address: <span>Shankarsheth Road, Near Income Tax Building,Swargate, Pune-411 037</span></li><br/>
        <li style="float: none; margin-left: 40px;">Head of Department: <span>Mr. Nitin Ghogare, Admin Officer</span></li><br/>
        <li style="float: none; margin-left: 40px;">Under Taking: <span>Pune Corporation, Pimpri-Chinchwad Corporation &amp; Govt.of Maharashtra</span></li><br/>
        <li style="float: none; margin-left: 40px;">Working reports submitted: <span>Hon. Joint Managing Director &amp; Hon. Chairman &amp; Managing Director</span></li><br/>
        <li style="float: none; margin-left: 40px;">Working Area: <span>Pune &amp; Pimpri-Chinchwad Corporation &amp; above 20 kms. Area</span></li><br/>
        <li style="float: none; margin-left: 40px;">Mission: <span>Good Public Bus Service for Passenger</span></li><br/>
        <li style="float: none; margin-left: 40px;">Aim &amp; Goal: <span>Provide healthy Bus service for Passenger</span></li><br/>
        <li style="float: none; margin-left: 40px;">Achive: <span>Medium</span></li><br/>
        <li style="float: none; margin-left: 40px;">Actual Work: <span>Working as Admin Officer</span></li><br/>
        <li style="float: none; margin-left: 40px;">Details of Public Service: <span>On Road Buses</span></li><br/>
        <li style="float: none; margin-left: 40px;">Details of Property: <span>All Depots, Bus Stands, Office Buildings, Colony Buildings, Central Workshop</span></li><br/>
        <li style="float: none; margin-left: 40px;">Details of Generation: <span>Enclosed</span></li><br/>
        <li style="float: none; margin-left: 40px;">Office Time: <span>09.45 am to 6.15 pm. (Lunch Time 01.30 pm to 02.00 pm)</span></li><br/>
        <li style="float: none; margin-left: 40px;">Telephone No.: <span>020-24503244/020-24440417</span></li><br/>
        <li style="float: none; margin-left: 40px;">Grievance Contact No.: <span>020-24545454</span></li><br/>
        <li style="float: none; margin-left: 40px;">E-mail: <span>pmpmlhr@gmail.com.</span></li><br/>
        <li style="float: none; margin-left: 40px;">Contact number after office hours: <span>020-24503200</span></li><br/>
        <li style="float: none; margin-left: 40px;">Weekly off &amp; Holidays: <span>All Saturday, Sunday &amp; All Govt. Holidays.</span></li><br/>
        </ul><br/>        
    </div>
            </div>
        </div>        
    </section>
</body>
<script type="text/javascript" src="js/myjs.js"></script>
</html>